@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body {
    overflow-x: hidden;
}

/* HEADER Y NAV */
.contenedor {
    align-items: center;
    background-color: bisque;
    padding: 0 20px;
    position: fixed;
    z-index: 150;
    width: 100vw;
    height: 70px;
    display: flex;
    place-content: space-between;
}

header {
    height: 80px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: brown;
    ;
}

#linkActive {
    font-weight: bold;
}

header ul {
    list-style-type: none;
    display: flex;
    place-content: space-between;
    margin: 0;
}

header a {
    padding: 1em;
}

#menu,
#menu-check {
    display: none;
}

/* MAIN CARROUSEL  */
.carrousel {
    width: 80%;
    max-width: 120em;
    margin: 0 auto;
    overflow: hidden;
}

.carrousel .grande {
    width: 400%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    transition: all 0.8s ease;
    transform: translateX(0%);
}

.carrousel .img {
    width: calc(100% / 4 - 1em);
    min-height: 10vh;
}

.carrousel .puntos {
    width: 100%;
    padding-bottom: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrousel .punto {
    width: 1.7em;
    height: 1.7em;
    margin: 0 1em;
    color: #393939;
    transition: all 0.4s ease;
    border-radius: 1em;
    border: 1px solid #FCB681;
    cursor: pointer;
    box-shadow: 0.6em 0.6em 1.2em #c9c9c9, -0.6em -0.6em 1.2em #ffffff, inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .punto.activo {
    background-color: bisque;
}

li {
    list-style-type: none;
}

.imagenes--firstb {
    display: none;
}

/* SERVICIOS */
.servicios {
    display: flex;
    text-align: center;
    margin: 45px;
    gap: 30px;
}

.contenedor__servicios {
    display: flex;
    place-content: center;
}

.contenedor__servicios h4 {
    font-size: 20px;
    font-weight: 600;
}

.contenedor__servicios i {
    font-size: 18px;
    margin: 2px 0 0 10px;
}

.servicios p {
    margin: 0;
    font-size: 15px;
}

/* FOOTER */
footer div h4 {
    padding-bottom: 15px;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 900;
    color: black;
    margin: 0;
}

footer p {
    text-align: center;
    font-size: 16px;
    padding: 10px;
    color: black;
    margin-bottom: 0;
}

footer .footer1 {
    background-color: bisque;
    padding: 12px 0;
}

footer .footer2 {
    background-color: #FCB681;
}

.footerInline a {
    text-decoration: none;
}

/* REDES */
.fa-facebook:hover {
    color: #4267B2;
}

.fa-instagram:hover {
    color: #C13584;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-whatsapp:hover {
    color: #25D366;
}

.fa-envelope:hover {
    color: #dd4b39;
}

.fa-facebook:hover {
    color: #4267B2;
}

.fa-instagram:hover {
    color: #C13584;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-whatsapp:hover {
    color: #25D366;
}

.fa-envelope:hover {
    color: #dd4b39;
}

.footerInline {
    display: inline-block;
    width: 49%;
    text-align: center;
}

.fa-whatsapp,
.fa-twitter,
.fa-instagram,
.fa-facebook,
.fa-envelope {
    color: black;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

/* CONTACTO */
.form {
    width: 400px;
    margin: auto;
}

.h2--contacto {
    text-align: center;
    font-size: 1.4em;
    padding: 30px;
}

.btn {
    font-weight: 600;
    background-color: #FCB681;
    border: #121212 solid 1px;
}

.btn:first-child:hover {
    background-color: bisque;
    border: #FCB681 solid 1px;
}

.main--contacto {
    display: flex;
    align-items: center;
}

.sec--contacto {
    width: 50%;
    text-align: center;
}

/* FORMULARIO */
.form__input-error {
    font-size: 12px;
    display: none;
}

.form__input-error-activo {
    display: block;
}

.form__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.form__checkbox {
    margin-right: 10px;
}

.form__mensaje {
    line-height: 40px;
    background: #F66060;
    border-radius: 5px;
    display: none;
}

.form__mensaje-activo {
    display: block;
}

.form__mensaje p {
    margin-bottom: 15px;
}

.form__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.form__mensaje-exito-activo {
    display: block;
}

.form__label {
    margin-bottom: 15px;
}

/*Estilos para Validacion*/
.form__grupo-correcto .form__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.form__grupo-incorrecto .form__label {
    color: #bb2929;
}

.form__grupo-incorrecto .form__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.form__grupo-incorrecto .form__input {
    border: 3px solid #bb2929;
}


/* NOSOTROS */
.main--nos {
    overflow-x: hidden;
}

.div--nos {
    width: 50%;
}

.section--nos {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 80px 0;
}

main section div img {
    width: 90%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.div--nos p {
    margin: 0 30px 0 50px;
    font-size: 20px;
    line-height: 35px;
}

.div--nos .p-right {
    margin: 0 50px 0 30px;
}

.img--inicio {
    text-align: center;
}

/* PRODUCTOS */
.sec--productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.sec--productos div h4,
.sec--productos div p {
    font-weight: 600;
}

.sec--productos div {
    text-align: center;
}

.sec--productos div button {
    padding: 5px 8px;
    border-radius: 5px;
    background-color: #FCB681;
    border: #121212 solid 1px;
}

.sec--productos div button:hover {
    background-color: bisque;
    border: #FCB681 solid 1px;
}

/* MEDIA QUERIS */
@media only screen and (min-width: 950px) and (max-width: 1330px) {
    .img--inicio img {
        width: 100vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 949px){
    .img--inicio img {
        width: 100vw;
    }

    .carrousel {
        width: 95%;
    }

    .servicios {
        display: block;
        margin: 35px 10px 0;
    }

    .servicios>div {
        margin-bottom: 60px;
    }

    .servicios p {
        font-size: 18px;
    }

    .imagenes--firstb {
        display: none;
    }

    .main--contacto {
        flex-wrap: wrap;
        gap: 40px;
    }

    .sec--contacto {
        width: 100%;
    }

    .sec--contacto iframe{
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    header div.contenedor nav {
        display: none;
    }

    .contenedor {
        padding: 0;
    }

    header div.contenedor nav.visible {
        display: block;
    }

    #menu {
        display: block;
        background-color: antiquewhite;
        font-size: 1.2em;
        font-weight: bold;
        border: 3px solid black;
        border-radius: 0.3em;
        position: absolute;
        right: 2em;
        top: 0.5em;
        z-index: 10;
        margin-top: 8px;
    }

    #menu:hover {
        color: black;
        background-color: antiquewhite;
    }

    #menu-cerrar {
        display: none;
        padding: 1px 4px;
    }

    #menu.salir #menu-abrir {
        display: none;
    }

    #menu.salir #menu-cerrar {
        display: block;
    }

    body.no-scroll {
        overflow: hidden;
    }

    header div.contenedor nav {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        background-color: #121212;
        opacity: 0.93;
        color: white;
        font-size: 1.4em;
        padding: 1.1em 1.7em;
        z-index: 9;
    }

    header div.contenedor nav ul a {
        color: white;
    }

    header div.contenedor nav ul,
    header div.contenedor nav ul li {
        display: block;
        text-align: right;
        padding-bottom: 1.5em;
        margin-right: 25px;
    }

    .img--inicio img {
        width: 96vw;
    }

    .carrousel {
        display: none;
    }

    .servicios {
        display: block;
        margin: 35px 10px 0;
    }

    .servicios>div {
        margin-bottom: 60px;
    }

    .servicios p {
        font-size: 18px;
    }

    .imagenes--firstb {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        margin: 30px -22px 60px;
    }

    .main--contacto {
        flex-wrap: wrap;
        gap: 40px;
    }

    .sec--contacto {
        width: 100%;
    }

    .sec--contacto iframe{
        width: 450px;
        margin-bottom: 50px;
    }

    .h2--contacto {
        font-size: 1.2em;
        line-height: 1.6em;
    }

    .section--nos {
        flex-direction: column;
        margin: 0;
    }

    .section--nos1{
        margin-bottom: 60px;
    }

    .section--nos2{
        margin-bottom: 20px;
    }

    .section--nos3{
        margin-bottom: 60px;
    }

    .div--nos p {
        font-size: 18px;
        margin: 20px 25px;
    }

    .div--nos .p-right {
        margin: 20px 25px;
    }

    .div--nos {
        width: 100%;
    }

    main section div img {
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    
    header div.contenedor nav {
        display: none;
    }

    .contenedor {
        padding: 0;
    }

    header div.contenedor nav.visible {
        display: block;
    }

    #menu {
        display: block;
        background-color: antiquewhite;
        font-size: 1.2em;
        font-weight: bold;
        border: 3px solid black;
        border-radius: 0.3em;
        position: absolute;
        right: 1.2em;
        top: 0.5em;
        z-index: 10;
        margin-top: 8px;
    }

    #menu:hover {
        color: black;
        background-color: antiquewhite;
    }

    #menu-cerrar {
        display: none;
        padding: 1px 4px;
    }

    #menu.salir #menu-abrir {
        display: none;
    }

    #menu.salir #menu-cerrar {
        display: block;
    }

    body.no-scroll {
        overflow: hidden;
    }

    header div.contenedor nav {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        background-color: #121212;
        opacity: 0.93;
        color: white;
        font-size: 1.4em;
        padding: 1.1em 1.7em;
        z-index: 9;
    }

    header div.contenedor nav ul a {
        color: white;
    }

    header div.contenedor nav ul,
    header div.contenedor nav ul li {
        display: block;
        text-align: right;
        padding-bottom: 1.5em;
        margin-right: 8px;
    }

    .img--inicio img {
        width: 95vw;
    }

    .carrousel {
        display: none;
    }

    .servicios {
        display: block;
        margin: 35px 10px 0;
    }

    .servicios p {
        font-size: 16px;
    }

    .servicios>div {
        margin-bottom: 50px;
    }

    .imagenes--firstb {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        width: 95vw;
        justify-content: center;
        margin: 20px 0;
    }

    .main--contacto {
        flex-wrap: wrap;
        gap: 40px;
    }

    .sec--contacto {
        width: 100%;
    }

    .form {
        width: 300px;
    }

    .sec--contacto iframe{
        width: 320px;
        margin-bottom: 50px;
    }

    .h2--contacto {
        font-size: 1.1em;
        line-height: 1.6em;
    }

    .section--nos {
        flex-direction: column;
        margin: 0;
    }

    .section--nos1{
        margin-bottom: 60px;
    }

    .section--nos2{
        margin-bottom: 20px;
    }

    .section--nos3{
        margin-bottom: 60px;
    }

    .div--nos p {
        font-size: 16px;
        margin: 20px 30px;
    }

    .div--nos .p-right {
        margin: 20px 30px;
    }

    .div--nos {
        width: 100%;
    }
}
